<div>
  <%= button_to 'Sign In To Procore', "https://app.procore.com/oauth/authorize?response_type=code&client_id=" + ENV['CLIENT_ID'] + "&redirect_uri=" + ENV['REDIRECT_URL'], :class => "button" %>
</div>
