<form action='/companies/index' method='get'>
	<button class="btn btn-primary btn-lg" role="button" type="submit">
		List Companies
	</button>
</form>
<h2> OR </h2>

Enter Company ID from which to List Projects:
<form action="/projects/index" method = "get">
	<input type="text" name="company_id" value="">
	<input type="submit" value="Submit">
</form>
