<h2>Thank you for logging in with Procore! Would you like to:</h2>


<form action='/companies/index' method='get'>
	<button class="button" role="button" type="submit">
		List Companies
	</button>
</form>
<h2> OR </h2>

Enter Company ID from which to List Projects:
<form action="/projects/index" method = "get">
	<input type="text" name="company_id" value="">
	<input type="submit" value="Submit">
</form>
