<table>
  <th>Company ID </th>
  <th>Company Name </th>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company['id'] %></td>
        <td><%= company['name'] %></td>
      </tr>

  <% end %>
</table>
