<table>
  <th>Company ID</th>
  <th>Company Name</th>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company['id'] %></td>
        <td><%= link_to "#{company['name']}", 'https://app.procore.com/' + "#{company['id']}" + '/company/home/list', :target => "_blank" %></td>
      </tr>
  <% end %>
</table>
